<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <label for="username">Username:</label>
        <input id="username" type="text" formControlName="username" />
    </div>
    <div class="row"><label for="email">Email:</label> <input id="email" type="text" formControlName="email" /></div>
    <div class="row"><label for="password">Password:</label> <input id="password" type="password" formControlName="password" /></div>
    <button class="btn btn-success" style="margin: 10px" type="submit">Submit User</button>
</form>
