.die-button {
  margin: 10px;
  height: 75px;
  width: 75px;
}
.D4 {
  background-color: blue;
}
.D6 {
  background-color: green;
}
.D8 {
  background-color: yellow;
}
.D10 {
  background-color: red;
}
.D12 {
  background-color: purple;
}
.D4-roll {
  color: white;
}
.D6-roll {
  color: white;
}
.D8-roll {
  color: black;
}
.D10-roll {
  color: white;
}
.D12-roll {
  color: white;
}
