.D4-button {
  background-color: blue;
}
.D6-button {
  background-color: green;
}
.D8-button {
  background-color: yellow;
}
.D10-button {
  background-color: red;
}
.D12-button {
  background-color: purple;
}
