/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.die-figure {
    margin: 10px;
    height: 75px;
    width: 75px;
    font-weight: bold;
    text-align: center;
}
.D4 {
    background-color: blue;
}
.D6 {
    background-color: green;
}
.D8 {
    background-color: yellow;
    color: black;
}
.D10 {
    background-color: red;
}
.D12 {
    background-color: purple;
}
